site_name: quest-pp-calibration
repo_url: https://github.com/kkr622/QuestPPCalibration
strict: true
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - content.code.copy
markdown_extensions:
  - admonition
  - toc:
      permalink: true
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
  - mkdocs-jupyter
nav:
  - Home: index.md
  - 01_extract_shot: extract_shot.md
  - 02_calc_pumping_time: calc_pumping_time.md

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css
