site_name: quest-pp-calibration
repo_url: https://github.com/kkr622/QuestPPCalibration
strict: true
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - content.code.copy
markdown_extensions:
  - admonition
  - toc:
      permalink: true
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
  - mkdocs-jupyter
nav:
  - Home: index.md
extra_css:
  - stylesheets/extra.css
